data/stream_barcelona - Copy.json
data/stream_barcelona1.json
data/stream_bot.json
__pycache__/
.ipynb_checkpoints/
.vscode/
Algo.sql
configLocal.py
AlgoritmosSobreTexto.py
AlgoritmosSobreTexto2.py
PruebaGenSim.py
WORD2VEC-Twitter-Espa_ol_para_Latinoam_rica__Espa_a_y_Estados_Unidos2.csv
data/giga-model
data/giga-model.vectors.npy
data/model
data/VS_data.txt
data/model
data/checkpoint
data/events.out.tfevents.1559061667.ALONSOGA4
data/metadata.tsv
data/model.ckpt.data-00000-of-00001
data/model.ckpt.index
data/model.ckpt.meta
data/projector_config.pbtxt
metadata.tsv
